.categories {
  flex-basis: 256px;
  display: flex;
  flex-direction: column;
  padding: 1em
}
.categories a {
  text-decoration: none;
  font-family: "Dosis";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  background-color: #44b;
  color: white;
  padding: 10px;
}
a:hover{
    box-shadow: 0 2px 5px -2px black;
}